body {
    min-width: unset !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > div {
    display: none;
}

body > div[tpl="ms_calendar_san"] {
    display: inline-block;
    zoom:  0.86;
}
body > div[tpl="ms_calendar_san"] .cu-border {
    box-shadow: none;
}
