body {
    min-width: unset !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > div {
    display: none;
}

body > div[tpl="ms_calendar"] {
    display: inline-block;
}

.op-calendar-new-holidaytip {
    display: none !important;
}
.op-calendar-hover-almanac {
    display: none !important;
}
