body {
    min-width: unset !important;
}

body > div {
    display: none;
}

body > div[tpl="calendar_pc"] {
    display: inline-block;
}

.op-calendar-new-holidaytip {
    display: none !important;
}
.op-calendar-hover-almanac {
    display: none !important;
}
